html, body {
    font-family: "Roboto", sans-serif;
    background-color: #9A938A;
    margin: 0;
    padding: 0;
  }
  
  html {
      scroll-behavior: smooth;
  }
  
  @media screen and (prefers-reduced-motion: reduce) {
      html {
          scroll-behavior: auto;
      }
  }
  
  /* 
  
    Header
  
  */
  
  #header {
    width: 1200px;
    margin: 0 auto;
    color:#41392C;
    padding: 10px 0;
  }
  
  .logo {
    width: 40%;
    float: left;
    padding: 1em 0;
  }
  
    .logo h1, .logo p {
      margin: 0;
      padding: 0;
    }
  
    .logo h1 {
      text-transform: uppercase;
      letter-spacing: 0.20em;
    }
  
  .navigation {
    float: right;
    text-align: center;
    padding-top: 2em;
    width: 60%;
  }
  
    .navigation a {
      padding: 0.5em 1em;
      text-decoration: none;
      letter-spacing: 0.10em;
    }
  
    .navigation a:hover {
      color:#41392C;
      text-decoration: underline;
    }

        .social {
          float: right;
          text-align: right;
          width: 20%;
          height: 10px;
          margin: 45px 0;
          text-align: left;
        }

        .social-icon {
          color:#41392C;
          width: 1.3em;
          height: 1.3em;
          padding-left: 1.5em;
        }

        .social-icon:hover {
          color:#ffffff;
        }

.intro-social {
  position: absolute;
  top: 80px; 
  right: 20px;

  display: flex;
  flex-direction: row;
  gap: 12px;
}

    /* 

    Intro
  
  */
  
  #intro {
    height: 700px;
    background-image: url(../img/telsiai..jpg);
    background-size: cover;
    background-position: center;
    clear: both;
  }
  
  /* 
    Stilius skirtas mygtukams
  */
  
  .btn-default {
    border: 1px solid #41392C;;
  }
  
    .btn-default:hover {
      background-color: #968977;
      color: white;
    }
  
  .intro-social {
    text-align: right;
    color: #fff;
    padding: 1em;
  }
  
  .intro-icon {
    height: 1.5em;
    width: 1.5em;
    margin-left: 1em;
  }
  
    .intro-icon:hover {
      color: rgb(196, 196, 196)
    }
  
  .intro-text h1 {
    font-size: 4.5em;
    padding-top: 2em;
  }
  
  #intro {
    text-align: center;
    color: #00000;
  }
  
  #intro:hover {
    filter: sepia(15%);
  }
  
  #map-about {
    text-align: center;
    padding-top: 2em;
    clear: both;
  }

  #map-about {
    height: 700px;
    background-image: url(../img/telsiai.jpg);
    background-size: cover;
    background-position: center;
    clear: both;
  }

  #map-statistics {
    text-align: center;
    padding-top: 2em;
    clear: both;
  }
  h3 {
    font-size: 2em;
    margin-bottom: 0em;
  }
  
  #map-set {
    text-align: center;
    padding-top: 2em;
    clear: both;
  }
  h4 {
    font-size: 2em;
    margin-bottom: 0em;
  }
  
  #map-people {
    text-align: center;
    padding-top: 2em;
    clear: both;
  }
  h5 {
    font-size: 2em;
    margin-bottom: 0em;
  }

#pranesk.html {
    text-align: center;
    padding-top: 2em;
    clear: both;
}
  h6 {
    font-size: 2em;
    margin-bottom: 0em;
  }

  .iframe-map iframe {
    width: 100%;
    height: 800px;
    border: 0;
  }
  
#footer {
  width: 100%;
  height: 100px;
  background-color: #68615D;
  border-top-right-radius: 20%;
}

  #footer_logo {
    width: 15%;
    height: 100px;
    float: left;
    margin: 0 0 0 5%;
  }

    .footer_logotipas{
      width: 50%;
      height: 80px;
      margin: 10px 40%;
      float: right;
      background-image: url(../img/veliava.jpg);
      background-size:contain;
      background-repeat: no-repeat;
      background-position: right;
      filter:grayscale(100%)

    }
    .footer_logotipas:hover {
      filter: drop-shadow(10px 10px 10px #2E2B29);
 }

  #footer_tekstas {
    width: 80%;
    height: 100px;
    float: right;
  }

    .footer_kontaktai  {
      float:left;
      font-size: small;
      font-weight: 300;
      width: 30%;
      height: 80px;
      margin: 10px 0;
      padding: 0 10%;
      border-right: 2px solid #D6C6BF;
      border-left: 2px solid #D6C6BF;
      text-align: center;
      color:#D6C6BF;
    }
      .footer_kontaktai p{
        margin:0;
        padding: 0.5em 0;
      }

    .footer_teises {
      float:left;
      font-size: small;
      font-weight: 300;
      width:48%;
      height: 80px;
      text-align: center;
      margin: 10px 0;
      color:#D6C6BF;
    }

      .footer_teises p {
        margin:0;
        padding: 2em 0 1em 0;
      }

      .footer_teises a {
        color:#D6C6BF;
        text-decoration: none;
        margin:0;
        padding: 1em 0;
      }

      .footer_teises a:hover{
        color:#ffffff;
        text-decoration: none;
      }
